export DB_TYPE=postgresql
export DB_NAME=inventory
export DB_USER=inventory
export DB_PASSWORD=inventory
export DB_HOST=localhost
export DB_PORT=5432

export EMAIL_HOST_PASSWORD='password'
export EMAIL_HOST_USER='info@hisabkitab.com'
export DEFAULT_FROM_EMAIL='info@hisabkitab.com'
export EMAIL_HOST='smtp.gmail.com'