{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>User Management</h4>
                <h6>Edit/Update User</h6>
            </div>
        </div>
        <!-- /add -->
        <div class="card">
            <div class="card-body">
                <form id="edit-user-form" data-url="{% url 'accounts:detail_user' user.id %}">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>User Name</label>
                                <input type="text" class="username" id="username" name="username" value="{{user.username}}">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="email" id="email" name="email" value="{{user.email}}">
                            </div>
                            <!-- <div class="form-group">
                                <label>Password</label>
                                <div class="pass-group">
                                    <input type="password" class=" pass-input" value="123456">
                                    <span class="fas toggle-password fa-eye-slash"></span>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="phone-number" id="phone-number" name="phone_number" value="{{user.phone_number}}">
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <select class="select">
                                    <option>Manager</option>
                                    <option>Sales Man</option>
                                </select>
                            </div>
                            <!-- <div class="form-group">
                                <label>Confirm  Password</label>
                                <div class="pass-group">
                                    <input type="password" class=" pass-inputs" value="123456">
                                    <span class="fas toggle-passworda fa-eye-slash"></span>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group uploadedimage">
                                <label>	Profile Picture</label>
                                <div class="image-upload image-upload-new">
                                    <div class="image-uploads">
                                        <img src="{{user.user_profile.profile}}" alt="{{user.username}}-profile">
                                        <!-- <div class="productviews">
                                            <div class="productviewscontent">
                                                <div class="productviewsname">
                                                    <h2>macbookpro.jpg</h2>
                                                    <h3>581kb</h3>
                                                </div>
                                                <a href="javascript:void(0);" class="hideset">x</a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-submit me-2">Submit</a>
                            <button type="button"  class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /add -->
    </div>
</div>
{% endblock %}

{% block externaljs %}
<script src="{% static 'assets/apps/accounts/users.js' %}"></script>
{% endblock %}